.contentTab {
  display: none;
  width: 500px;
  height: 200px;
  position: relative;
}

.infoTab {
  display: none;
  position: relative;
  padding: 30px 0;
}

.content-tabs {
  position: relative;
  background: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.visible {
  display: block !important;
}

.contend-body {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.button-container {
  padding: 20px;
  display: flex;
  gap: 5px;
  justify-content: start;
  width: calc(100% - 30px);
  position: absolute;
  height: fit-content;
  flex-wrap: wrap;
}

button {
  padding: 5px;
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: transparent;
}

.navbar {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  padding: 10px !important;
}
.navbar button {
  display: flex;
  justify-content: center;
}

.offcanvas-body {
  position: relative;
}
.offcanvas-body .btn {
  width: 49%;
}

.arrow-body {
  display: flex;
  gap: 5px;
  font-size: 30px;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  top: -1px;
}

.accordion-button {
  border: rgba(0, 0, 0, 0.1) 1px solid !important;
  padding: 20px !important;
  border-radius: 5px;
}

.sides {
  position: relative;
}

@media (min-width: 992px) {
  .button-container {
    width: 30%;
  }
  .contend-body {
    left: 30%;
    width: 70%;
    padding-top: 20px;
    margin-top: 0px;
  }
  .infoTab {
    width: 70%;
    left: 30%;
  }
}
.contentButton {
  font-size: 11px;
}

.hana {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #ead196;
  transition: 1s;
}

.ruby {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #e73879;
  transition: 1s;
}

.yohane {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #222222;
  transition: 1s;
}

.riko {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #ffcce1;
  transition: 1s;
}

.chika {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #f0a04b;
  transition: 1s;
}

.you {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #a2d2df;
  transition: 1s;
}

.dia {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #7d0a0a;
  transition: 1s;
}

.kanan {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #7ed4ad;
  transition: 1s;
}

.mari {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #9b7ebd;
  transition: 1s;
}

.idol {
  position: absolute;
  top: var(--top);
  left: calc(var(--left) + 5%);
}

.arrow-m {
  color: #9b7ebd;
}

.arrow-d {
  color: #7d0a0a;
}

.arrow-rk {
  color: #ffcce1;
}

.arrow-rb {
  color: #e73879;
}

.arrow-h {
  color: #ead196;
}

.arrow-yh {
  color: #222222;
}

.arrow-yu {
  color: #a2d2df;
}

.arrow-k {
  color: #7ed4ad;
}

.arrow-c {
  color: #f0a04b;
}

@keyframes riko {
  0% {
    top: var(--top);
    left: calc(var(--left) + 5%);
  }
  30% {
    top: 45%;
    left: 10%;
  }
  100% {
    top: 45%;
    left: 10%;
  }
}
#tabSegundaMov .riko {
  animation-name: riko;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes chika {
  0% {
    top: var(--top);
    left: calc(var(--left) + 5%);
  }
  30% {
    top: 45%;
    left: 80%;
  }
  100% {
    top: 45%;
    left: 80%;
  }
}
#tabSegundaMov .chika {
  animation-name: chika;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes you {
  0% {
    top: var(--top);
    left: calc(var(--left) + 5%);
  }
  10% {
    top: var(--top);
    left: calc(var(--left) + 5%);
  }
  30% {
    top: 45%;
    left: calc(var(--left) + 5%);
  }
  50% {
    top: 45%;
    left: 35%;
  }
  100% {
    top: 45%;
    left: 35%;
  }
}
#tabSegundaMov .you {
  animation-name: you;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes kanan {
  0% {
    top: var(--top);
    left: calc(var(--left) + 5%);
  }
  30% {
    top: var(--top);
    left: calc(var(--left) + 5%);
  }
  50% {
    top: 45%;
    left: calc(var(--left) + 5%);
  }
  60% {
    top: 45%;
    left: 55%;
  }
  100% {
    top: 45%;
    left: 55%;
  }
}
#tabSegundaMov .kanan {
  animation-name: kanan;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/*# sourceMappingURL=style.css.map */
